.rc-slider-handle {
  background-color: black;
  border: solid 1px black;
  width: 22px;
  height: 22px;
  margin-top: -9px;
  opacity: 1;
}

.rc-slider-rail {
  background-color: black;
  height: 3px;
}

.rc-slider-track {
  background-color: black;
  height: 3px;
}
